.TwoCards {
  display: flex;
  margin: 10px;
  margin-top: 18px;
}
@media (max-width: 768px) {
  .TwoCards {
    flex-direction: column; /* Stack the cards vertically on smaller screens */
    align-items: center;
  }
}