.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  padding: 18px;
  margin-top: 190px;
  border-radius: 20px;
  position: relative;
  color: #fff;
  border: 1px solid #333;
}

.title {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}

.message {
  margin-top: -30px;
}
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 50%;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 95%;

  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: white;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}
.form-group {
  color: white;
  height: 22px;
}
.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #7678e1;
}

.submit:hover {
  background-color: rgba(118, 120, 225, 0.65);
}
